* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #222;
    font-family: sans-serif;
    margin: 0;
}

#page {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    background-color: #333;
    min-height: 100vh;
}

header {
    background-color: #262626;
}

header h1 {
    margin: 0;
    /*border-bottom: 2px solid #000;*/
}

footer {
    background-color: #262626;
    position: absolute;
    bottom: 0;
    width: 100%;
}

header,
#content,
footer {
    padding: 1rem;
}

#content .main_title{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #666;
}

/*
*  REDAKTOR
*/

.redaktor .article{
    background-color: #555;
    padding: 0.5rem;
    margin: 1rem 0;
}

/*.redaktor .article:hover{
   background-color: #666;
}*/

.redaktor .article .button{
    display: inline-block;
    border: 1px solid #888;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 10px;
}

.redaktor .article .button:hover{
    background-color: #777;
    border: 1px solid #aaa;
}

.redaktor .article .title{
    margin-bottom: 0.3rem;
    border-bottom: 1px solid #777;
}

.redaktor .article .title a{
    font-size: 1.3rem;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}

.redaktor .article .control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    /* rovnoměrné rozložení */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    /* vertical center */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    font-size: 1.15rem;
}

.redaktor .article .control .date{
    font-size: 0.95rem;
}