* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #222;
    font-family: sans-serif;
    margin: 0;
}

#page {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    background-color: #333;
    min-height: 100vh;
}

header {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
    color: inherit;
}

header h1 {
    margin: 0;
    /*border-bottom: 2px solid #000;*/
}



footer {
    background-color: #262626;
    position: absolute;
    bottom: 0;
    width: 100%;
}

header,
#content,
footer {
    padding: 1rem;
}

#content{
    padding-bottom: 3rem;
}

#content .main_title{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #666;
}

input, select{
    color: #000;
}

/*
* Login 
*/

.login{
    width: 16rem;
    height: 7rem;
    /*border: 1px solid black;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#error{
    font-size: 0.7rem;
}


/*
* BASIC ARTICLE STYLES
*/

.article{
    background-color: #555;
    padding: 1rem;
    font-size: 1.15rem;
}

.article .button{
    display: inline-block;
    border: 1px solid #888;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    background-color: transparent;
}

.article .button:hover, .article .button:focus, .article .button:active{
    background-color: #777;
    border: 1px solid #aaa;
}

.article .title{
    font-size: 1.3rem;
    font-weight: bold;
    color:#fff;
    margin-bottom: 0.2rem;
    padding-bottom: 0.15rem;
    border-bottom: 1px solid #777;
}



/*
* MENU
*/

#menu {
    background-color: #333;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu ul{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    margin: 0;
}

#menu li {
    margin: 0 10px;
    padding: 0;
}
#menu a{
    color:white;
    
}

/*
* HELPDESK
*/

#wrapHelpDesk{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    margin-bottom: 40px;
}

.wrapotazka{
    background-color: #777;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 2px;
        
        /* flexing stuff */
        display: flex;
        flex-direction: column;
        align-items: center;
}

.wrapotazka input{
    margin: 0;
}

.wrapotazka form{
    display: flex;
    flex-direction: row;
}

.wrapotazka .otazka{
    margin-bottom: 10px;
}

.wrapotazka .odpoved{
    border-top: 1px #aaa solid;
    padding-top: 10px;
}

#wrapHelpDeskQuestion{
    width: 100%;
    margin-bottom: 10px;
}

#wrapHelpDeskQuestion form {
    width: 100%;
}

#wrapHelpDeskQuestion textarea {
    resize: none;
    height: 6em;
    width: 33%;
}

#wrapHelpDesk textarea {
    resize: none;
    height: 2em;
}