.form-table tr, .form-table th, .form-table td
{
    border: 1px solid white;
    padding: 10px;
}
.form-table
{
    float: right;
    text-align: right;
}

input, .add, .remove, .pridat_clanek
{
    margin: 2px;
    padding: 4px;
}

select
{
    margin: 2px;
    margin-left: -3px;
    padding: 4px;
}

label
{
    display: inline-block;
    width: 190px;
    text-align: right;
}

.acc-table tr td
{
    border-top: 1px solid white;
    padding: 10px;
    text-align: center;
}

.acc-table th
{
    padding: 10px;
    text-align: center;
}

.nazev
{
    overflow: hidden;
}

.tema
{
    float: right;
    overflow:hidden;
}

.nova_verze
{
    padding-left: 10px;
    padding-right: 10px;
}

#clanekNazev
{
    width: 374px;
}

#pridatForm input
{
    height: 30px;
}

.detail_tabulka
{
    padding: 10px;
}

.detail_tabulka th
{
    padding-left: 10px;
    padding-right: 10px; 
    font-size: 1.25rem;
}

.detail_tabulka td
{
    font-size: 1.25rem;
}

.autor_posudek
{
    margin: auto;
}

.autor_posudek td
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid white;
}

.autor_posudek th
{
    padding: 5px;
    border: 1px solid white;
}

.autor_posudek button
{
    padding: 10px;
}

.info_tlacitka
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}